<!DOCTYPE html>
<html>
  <head>
    <title>E Y Portfolio</title>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= favicon_link_tag 'favicon.ico' %>

  </head>

  <body>
    <header>
          <ul class="nav-list">
            <%= link_to image_tag("logo.png", class: "logo"), image_path("/")%>
            <%= link_to "Bio", "/bio", class: "link" %>
            <%= link_to "Contact", "/contact", class: "second link" %>
          </ul>
    </header>
    <%= yield %>
    <script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
    <script src="//cdn.jsdelivr.net/github-cards/latest/widget.js"></script>
  </body>
</html>
